<div id="desk-container" class="container">
    
    <div class="room-bg" column="11">
        <!-- For Rendered room background -->   
    </div>

    <!-- Render desk page content -->
    <div class="main-content text-light">

        <div class="content-wrapper">

            <!-- Main Name Banner -->
            <div class="name-banner">
                <h1 class="text-drop-shadow">CHANODOM</h1><br>
                <h1 class="card px-1">UTSAHAJIT</h1>
            </div>

            

            <!-- Desk Area -->
            <div>

                <!-- Assisting Text & Indicators-->
                <h3 class="text-assist mt-3 mb-2 text-drop-shadow text-lowercase">&lt; tap to view toolkits &gt;</h3>
                <div class="indicators">
                    <object class="mb-1" type="image/svg+xml" data="./images/downArrow.svg"></object>
                    <object class="mb-1" type="image/svg+xml" data="./images/downArrow.svg"></object>
                    <object class="mb-1" type="image/svg+xml" data="./images/downArrow.svg"></object>
                </div>

                <div class="computer">
                    <div class="monitors">
                        <div class="monitor">
                            <div id="ux-screen" class="screen p-1 bg-success">
                                <object class="mb-1" type="image/svg+xml" data="./images/uxIcon.svg"></object>
                                <h2 style="pointer-events: none;">UX / UI</h2>
                            </div>
                            <div class="monitor-logo"></div>
                        </div>
                        <div class="monitor">
                            <div id="dev-screen" class="screen p-1 bg-danger">
                                <object class="mb-1" type="image/svg+xml" data="./images/webDevIcon.svg"></object>
                                <h2 style="pointer-events: none;">Dev</h2>
                            </div>
                            <div class="monitor-logo"></div>
                            <div class="monitor-buttons">
                                <div class="monitor-button-yellow"></div>
                                <div class="monitor-button-yellow"></div>
                                <div class="monitor-button-pink"></div>
                            </div>
                        </div>
                        <div class="monitor">
                            <div id="business-screen" class="screen p-1 bg-warning">
                                <object class="mb-1" type="image/svg+xml" data="./images/businessIcon.svg"></object>
                                <h2 style="pointer-events: none;">Business</h2>
                            </div>
                            <div class="monitor-logo"></div>
                        </div>
                    </div>

                    <div>
                        <div class="monitor-stand"></div>
                        <div class="monitor-base"></div>
                    </div>
                </div>

                <div class="desk">
                    <div class="table-top"></div>
                    <div class="structure">
                        <div class="left-leg"></div>
                        <div class="middle-section">
                            <div class="inside">
                                <div class="keyboard">
                                    <div class="keyboard-buttons">
                                        <div class="button"></div>
                                        <div class="button"></div>
                                        <div class="button"></div>
                                        <div class="button"></div>
                                        <div class="button"></div>
                                        <div class="button"></div>
                                        <div class="button"></div>
                                        <div class="button"></div>
                                        <div class="button"></div>
                                        <div class="button"></div>
                                    </div>
                                    <div class="keyboard-base"></div>   
                                </div>
                                <div class="mouse"></div>
                            </div>
                            <div class="pull-out"></div>
                        </div>
                        <div class="right-leg"></div>
                    </div>
                    <div class="desk-shadow"></div>
                </div>
            </div>
            
        </div>

    </div>
</div>