<div class="container">
    
    <!-- Render room background (using generateBG js component)-->
    <div class="room-bg" column="11"></div>
    
    <!-- Render logs page content -->
    <div class="main-content">
        <h1 class="text-drop-shadow-xl text-light mt-5 mb-2">Logs</h1>

        <div class="card content-card my-2">
            <div>
                <div id="logs-card" class="card-list text-left">
                    <!-- Content Injection area -->
                </div>
            </div>
        </div>

        <div class="card selector-card">
            <div class="selector-card-items logs-selector-items px-2 text-dark">
                <div id="Adventure" class="selector-btn selected">Adventure</div>
                <div id="Upgrade" class="selector-btn">Upgrade</div>
            </div>
        </div>
    </div>

</div>