<div class="container">
    
    <!-- Render room background (using generateBG js component)-->
    <div class="room-bg" column="11"></div>
    
    <!-- Render portfolio page content -->
    <div class="main-content">
        <h1 class="text-drop-shadow-xl text-light mt-5 mb-2">Portfolio</h1>

        <div class="card content-card my-2">
            <div>
                <div class="card-list text-left">

                    <div class="card-item">
                        <div class="p-2">
                            <h2>Monstory Numbers (2018)</h2>
                            <h4>Interactive AR Children's Book</h4>
                        </div>
                        <div class="cta-panel portfolio-panel">
                            <h2 class="p-2 bg-success">UX</h2>
                            <h4 class="px-2">University<br>Proeject</h4>
                            <button class="btn btn-l btn-light">P</button>
                            <button class="btn btn-l btn-light mx-1">Explore</button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="p-2">
                            <h2>Monstory Numbers (2018)</h2>
                            <h4>Interactive AR Children's Book</h4>
                        </div>
                        <div class="cta-panel portfolio-panel">
                            <h2 class="p-2 bg-success">UX</h2>
                            <h4 class="px-2">University<br>Proeject</h4>
                            <button class="btn btn-l btn-light">P</button>
                            <button class="btn btn-l btn-light mx-1">Explore</button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="p-2">
                            <h2>Monstory Numbers (2018)</h2>
                            <h4>Interactive AR Children's Book</h4>
                        </div>
                        <div class="cta-panel portfolio-panel">
                            <h2 class="p-2 bg-success">UX</h2>
                            <h4 class="px-2">University<br>Proeject</h4>
                            <button class="btn btn-l btn-light">P</button>
                            <button class="btn btn-l btn-light mx-1">Explore</button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="p-2">
                            <h2>Monstory Numbers (2018)</h2>
                            <h4>Interactive AR Children's Book</h4>
                        </div>
                        <div class="cta-panel portfolio-panel">
                            <h2 class="p-2 bg-success">UX</h2>
                            <h4 class="px-2">University<br>Proeject</h4>
                            <button class="btn btn-l btn-light">P</button>
                            <button class="btn btn-l btn-light mx-1">Explore</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card selector-card">
            <div class="selector-card-items portfolio-selector-items p-2">
                <div id="portfolio-all" class="selector-btn text-dark selected">ALL</div>
                <div id="portfolio-ux" class="selector-btn text-success">UX</div>
                <div id="portfolio-web" class="selector-btn text-danger">WEB</div>
                <div id="portfolio-design" class="selector-btn text-warning">DESIGN</div>
            </div>
        </div>
    </div>

</div>