<div id="portfolio-container" class="container">

    <div class="room-bg" column="11">
        <!-- For Rendered room background -->   
    </div>

    <div class="main-content">

        <h1 class="text-drop-shadow-xl text-light pt-4">Portfolio</h1>

        <div class="content-group">

            <div id="portfolio-content" class="content-box">
                <div>
                    <div class="content-list">

                    </div>
                </div>

            </div>

            <div id="portfolio-controller" class="controller-box">
                <div id="all" class="selector-btn text-dark selected">All</div>
                <div id="UX" class="selector-btn text-success">UX</div>
                <div id="Dev" class="selector-btn text-danger">Dev</div>
                <div id="Design" class="selector-btn text-warning">Design</div>
            </div>

        </div>

    </div>

</div>