//Margin and padding utilities
$spaceamounts: (1,2,3,4,5,6,7,8,9,10);

@each $amount in $spaceamounts{

    //Setup margin utilities
    .m-#{$amount}{
        margin: #{$amount/2}rem;
    }

    .mb-#{$amount}{
        margin-bottom: #{$amount/2}rem;
    }

    .mt-#{$amount}{
        margin-top: #{$amount/2}rem;
    }

    .mx-#{$amount}{
        margin: 0 #{$amount/2}rem;
    }

    .my-#{$amount}{
        margin: #{$amount/2}rem 0;
    }

    //Setup padding utilities
    .p-#{$amount}{
        padding: #{$amount/2}rem;
    }

    .pl-#{$amount}{
        padding-left: #{$amount/2}rem;
    }

    .px-#{$amount}{
        padding: 0 #{$amount/2}rem;
    }

    .py-#{$amount}{
        padding: #{$amount/2}rem 0;
    }

    .pb-#{$amount}{
        padding-bottom: #{$amount/2}rem;
    }

    .pt-#{$amount}{
        padding-top: #{$amount/2}rem;
    }

}

//Transform utilities
.tr{

    &-90{
        transform: rotate(90deg);
    }

    &-n90{
        transform: rotate(-90deg);
    }

    &-180{
        transform: rotate(180deg);
    }
}

//Text utilities
.text{

    &-light{
        color: $light-color;
    }

    &-dark{
        color: $dark-color;
    }

    &-dark-muted{
        color: transparentize($dark-color, 0.3);
    }

    &-success{
        color: $success-color;
    }

    &-warning{
        color: $warning-color;
    }

    &-danger{
        color: $danger-color;
    }

    &-drop-shadow{
        text-shadow: 0 0.15rem hsla(0, 0, 0, 0.5); 
    }

    &-drop-shadow-xl{
        text-shadow: 0 0.35rem hsla(0, 0, 0, 0.5); 
    }

    &-center{
        text-align: center;
    }

    &-left{
        text-align: left;
    }

    &-right{
        text-align: right;
    }

    &-bottom{
        vertical-align: bottom;
    }

    &-top{
        vertical-align: top;
    }

    &-lowercase{
        text-transform: lowercase;
    }

    &-paragraph{
        text-align: justify;
        text-justify: auto;
        text-indent: 10%;
        //text-transform: none;
        font-size: 0.9rem;
        line-height: 1.6;
        //letter-spacing: 0.15rem
        //ext-align-last: center;
        //text-justify: inter-word;
    }

}

//Colour utilities
.bg{

    &-primary{
        background-color: $primary-color; 
    }

    &-dark{
        background-color: $dark-color; 
    }

    &-light{
        background-color: $light-color; 
    }

    &-success{
        background-color: $success-color; 
    }

    &-danger{
        background-color: $danger-color; 
    }

    &-warning{
        background-color: $warning-color; 
    }

}

//Other utilities
.hidden{
    visibility: hidden;
}

.d{

    &-block{
        display: block;
    }

    &-inline-block{
        display: inline-block;
    }

    &-inline{
        display: inline;
    }

    &-none{
        display: none;
    }

}

//Key components
.nav{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    width: 100vw;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.25s ease-out;

    .nav-btn{
        pointer-events: auto;
        text-align: center;

        & > div{
            display: inline-flex;
            flex-direction: column;
        }

        &:nth-child(1){
            justify-self: start;
        }

        &:nth-child(2){
            justify-self: center;
        }

        &:nth-child(3){
            justify-self: end;
        }

    }

    &.hidden{
        visibility: unset;
        opacity: 0;

        .nav-btn{
            pointer-events: none;
        }
    }

    &.nav-top{
        bottom: auto;
        top: 0;

        .nav-btn{

            & > div > object{
                order: 2;
            }

            &:nth-child(2) > div > object{
                transform: rotate(90deg);
            }
            
        }
    }

    &.fade{
        pointer-events: none;
        animation: fade 0.25s 2 alternate ease-in-out; 
    }

    @keyframes fade{

        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
        
    }

}

.container{

    position: relative;
    width: 100vw;
    height: 100vh;
    
    /* &#about-t{
        transition: opacity 0.35s ease-out;
    } */

    &.sup-view-active{
        z-index: 2;
        opacity: 1;
    }
    
    .room-bg{

        position: absolute;
        width: 100vw;
        height: 100%;
        z-index: -1;
        
        .wallpaper{
            width: 100%;
            height: 60%;
            display: flex;

            div{

                flex: 1;

                &:nth-child(odd){
                    background: linear-gradient(#000F33,#28D1DD);
                }

                &:nth-child(even){
                    background: linear-gradient(#494240,#E5E5DC);
                }

            }
        }

        .baseboard{
            width: 100%;
            height: 3%;
            background-color: #F3E4E0;
            border-top: 0.3rem solid #fff;
        }

        .floor{
            width: 100%;
            height: 37%;
            background: linear-gradient(#E38E2C,#4D0404);
        }

        &::after{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: hsla(0, 0, 0, 0.1);
        }
    }

    .main-content{

        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;

        //Desk Page
        .name-banner{
            width: 100%;
            color: $light-color;

            h1{
                display: inline-block;
            }
        }

        .text-assist{
            animation:
                blinking 0.8s alternate infinite ease-in,
                floating 1s alternate infinite ease-in-out;
        }

        @keyframes blinking{
            
            from{
                opacity: 1;
            }

            to{
                opacity: 0.5;
            }
        }

        @keyframes floating{
            
            0%{
                transform: translateY(0);
            }

            100%{
                transform: translateY(15%);
            }
        }


        .indicators{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;

            object{
                width: 30%;
                animation: bobbing 0.5s alternate infinite ease-in;
            }
        }

        @keyframes bobbing{
            
            from{
                transform: translateY(0%);
                opacity: 1;
            }

            to{
                transform: translateY(15%);
                opacity: 0.6;
            }
        }

        .computer{
            width: 95%;
            margin: auto;

            .monitors{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-gap: 0.2rem;

                .monitor{
                    position: relative;
                    background-color: #2D2D2D;
                    padding: 0.25rem;

                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 0.5rem;
                        transform: translateY(80%);
                        background-color: inherit;

                    }

                    .monitor-logo{
                        position: absolute;
                        left: 40%;
                        right: 40%;
                        bottom: -2.5%;
                        height: 0.2rem;
                        background-color: #707070;
                        z-index: 1;
                    }
                    
                    .monitor-buttons{
                        position: absolute;
                        width: 10%;
                        right: 5%;
                        bottom: -2.1%;
                        height: 0.2rem;
                        z-index: 1;
                        display: flex;
                        justify-content: space-between;

                        .monitor-button-yellow,
                        .monitor-button-pink{
                            width: 20%;
                            border-radius: 50%;
                        }

                        .monitor-button-yellow{
                            background-color: #E8D5CE;
                        }

                        .monitor-button-pink{
                            background-color: #F799EA;
                        }
                    }
                }
            }

            .monitor-stand{
                margin: auto;
                width: 5%;
                height: 4vh;
                background-color: #2D2D2D;
            }

            .monitor-base{
                margin: auto;
                width: 20%;
                height: 1vh;
                background-color: #2D2D2D;
            }

        }

        .desk{
            width: 80%;
            margin: auto;
            position: relative;
            
            .table-top{
                width: 100%;
                height: 2vh;
                background-color: #EFEAEA;
            }

            .structure{
                width: 90%;
                margin: auto;
                display: grid;
                grid-template-columns: 1fr 7fr 1fr;

                .left-leg{
                    height: 20vh;
                    background: linear-gradient(#E4D5CA,#7D6D61);
                }

                .middle-section{
                    height: 5vh;
                    display: flex;
                    flex-direction: column;
                    
                    .inside{
                        width: 100%;
                        height: 70%;
                        background-color: #878585;
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;

                        .keyboard{
                            width: 70%;
                            height: 40%;
                            display: flex;
                            flex-direction: column;

                            .keyboard-buttons{
                                width: 95%;
                                height: 40%;
                                margin: auto;
                                display: grid;
                                grid-template-columns: repeat(3,1fr) 6fr repeat(6,1fr);
                                grid-gap: 2%;

                                .button{
                                    height: 100%;
                                    background-color: #4B3F3F;
                                }
                            }

                            .keyboard-base{
                                width: 100%;
                                height: 60%;
                                background-color: #5F5151; 
                            }

                        }

                        .mouse{
                            width: 10%;
                            height: 35%;
                            border-top-left-radius: 40%;
                            border-top-right-radius: 40%;
                            background: linear-gradient(#ECECEC,#CDCDCD);
                        }
                    }

                    .pull-out{
                        width: 100%;
                        height: 30%;
                        background-color: #C2B1B1;
                    }
                }

                .right-leg{
                    height: 20vh;
                    background: linear-gradient(#E4D5CA,#7D6D61);
                }
            }

            .desk-shadow{
                position: absolute;
                width: 100%;
                height: 18%;
                bottom: -7%;
                z-index: -1;
                clip-path: polygon(3% 0, 97% 0, 100% 100%, 0% 100%);
                background: linear-gradient(hsla(0, 0, 0, 0.3),hsla(0, 0, 0, 0.15))
            }
        }

        //Portfolio Page

        .content-card,
        .selector-card{
            width: 88%;
            margin-left: auto;
            margin-right: auto;
        }

        .about-fix{
            width: 100%;
            height:100%;
            padding-top: 3%;
        }

        .content-card{
            $padding: 0.6rem;
            height: 60%;
            padding: $padding;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                left: $padding;
                right: $padding;
                top: $padding;
                height: 3%;
                background: linear-gradient(hsla(0,0,0,0.6),hsla(0,0,0,0));
                transition: opacity 0.25s ease-out;
                z-index: 1;
            }

            &::after{
                content: "";
                position: absolute;
                left: $padding;
                right: $padding;
                bottom: $padding;
                height: 3%;
                background: linear-gradient(hsla(0,0,0,0),hsla(0,0,0,0.6));
                transition: opacity 0.25s ease-out;
            }

            &.no-scroll-shadow-top::before{
                opacity: 0;
            }

            &.no-scroll-shadow-bottom::after{
                opacity: 0;
            }

            &.about-card{
                //top:10%;
                margin-top: 22%;
                height: 75%;
            }
            
            & > div {
                width: 100%;
                height: 100%;
                /* overflow: scroll;
                overscroll-behavior: contain; */
                //overflow-style: hidden;
                position: relative;

                
            }

            .card-list{
                width: 100%;
                height: 100%;
                margin: auto;
                /* display: grid;
                grid-template-columns: 1fr;
                grid-gap: 0.6rem;
                justify-items: center; */
                position: relative;
                overflow: scroll;
                overscroll-behavior: contain;
                
                & > div{
                    position: absolute;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 0.6rem;
                    justify-items: center;
                    width: 100%;
                    opacity: 1;
                    transition: opacity 0.15s ease-out;

                    div{
                        height: auto;
                        overflow: hidden;
                        transition: height 0.25s ease-in-out;

                        &.hidden{
                            /* opacity: 0;
                            transform: scaleX(0.9); */
                            height: 0;
                            //display: none;
                        }
                    }

                    &.fade{
                        opacity: 0;
                        //display: inherit;
                    }

                    &.hidden{
                        display: none;
                    }

                    &.education-card{
                        padding: 0.6rem;
                        grid-template-columns: 1fr 4fr;
                        grid-gap: 0.2rem 1rem;
                        position: relative;
                        
                        .milestone{
                            background-color: $warning-color;
                            width: 35px;
                            height: calc(35px + 6.4px);
                            border-bottom: 0.4rem solid darken($warning-color,20%);
                            margin-top: 0.3rem;
                            position: relative;

                            &::after{
                                content: "";
                                position: absolute;
                                background-color: $dark-color;
                                top: 25%;
                                bottom: 25%;
                                left: 25%;
                                right: 25%
                            }
                        }

                        .card-item{
                            background-color: transparent;
                            padding-right: 0.6rem;
                            
                            hr{
                                width: 90%;
                                border-width: 0.06rem;
                            }

                            button{
                                padding: 0.3rem;
                                padding-left: 1rem;
                                padding-right: 1rem;
                            }
                        }

                        &::before{
                            content: "";
                            position: absolute;
                            //height: 100%;
                            width:4%;
                            bottom: -4.5%;
                            top: 5%;
                            left: 10%;
                            background: linear-gradient($dark-color, hsla(0,53,53,0.3) 85%, hsla(0,53,53,0));
                        }
                    }

                    &.contact-card{
                        grid-template-columns: 1fr;
                        grid-gap: 0.2rem 1rem;
                        text-align: center;

                        div{
                            margin-top: 0.25rem;
                        }

                        h1{
                            font-size: 2.5rem;
                            padding: 1.5rem 1.5rem;
                        }

                        button{
                            padding-top: 0.25rem;
                            padding-bottom: 0.25rem;
                        }

                        a{
                            color: $warning-color;
                        }

                        .avatar{
                            width: 100%;
                            height: 24vh;
                            //background-color: pink;
                            overflow: hidden;
                            position: relative;

                            object{
                                position: absolute;
                                width:115%;
                            }
                        }

                        .social-media{
                            width: 100%;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-gap: 0.5rem; 


                            button{
                                padding: 0.9rem;
                                padding-top: 0.6rem;
                                padding-bottom: 0.6rem;
                                margin-bottom: 0.5rem;
                            }
                            
                        }
                    }
                }

                .card-item{
                    width: 100%;
                    @include set-background($primary-color);
                    //transition: transform 0.25s ease-out;

                    &.hidden{
                        display: none;
                        //transform: scaleY(0);
                    }

                    .card-photo{
                        height: 20vh;
                        position: relative;
                        background-position: center;
                        background-size: cover; 

                        & > div{
                            position: absolute;
                            bottom: 0;
                            z-index: 1;
                        }

                        &::after{
                            content: "";
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background: hsla(0, 0, 0, 0.3);
                            //background: rgba(255, 255, 255, 0.3);
                        }

                    }
                    
                }
            }

            //Upgrade-specific card items
            .upgrade-items{
                width: 95%;
                height: auto;
                /* transform-origin: 50% 0;
                transition: scaleY 0.25s ease-out; */
                overflow: hidden;
                transition: height 0.25s ease-out;

                div{

                    &:nth-child(odd){
                        @include set-background($primary-color);
                    }

                    &:nth-child(even){
                        @include set-background(darken($primary-color,15%));
                    }
                }

                &.hidden{
                    height: 0;
                }

                /* &.disable-transition{
                    transition: none;
                } */

            }

            //Contact-specific card
            
        }

        .selector-card{
            height: 8%;
            font-size: 1.4rem;

            .selector-card-items{
                height: 100%;
                display: flex;
                align-items: center;                

                div{
                    display: inline-block;
                    cursor: pointer;
                    pointer-events: inherit;
                    position: relative;
                    z-index: 0;

                    &.selected{
                        cursor: inherit;
                        pointer-events: none;
                        color: $light-color;
                    }

                    &::before{
                        content:"";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: -1;
                        @include set-background($dark-color);
                        transform: scaleX(0);
                        opacity: 0;
                        transition: all 0.25s ease-out;

                    }

                    &.selected::before {
                        cursor: inherit;
                        pointer-events: none;
                        opacity: 1;
                        transform: scaleX(1);
                    }
                    
                }

                &.portfolio-selector-items{
                    justify-content: space-between;

                    div{
                        padding: 0.5rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                }

                &.logs-selector-items{
                    justify-content: space-around;

                    div{
                        padding: 0.5rem;
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                    }
                }

                &.about-selector-items{
                    justify-content: space-around;

                    div{
                        padding: 0.5rem;
                        padding-left: 0.5rem;
                        padding-right: 0.5rem;
                        font-size: 1.2rem;
                    }
                }

            }

        }

    }
    
}

.detail-card{
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: scroll;

    h1{
        word-wrap: break-word;
    }

    .detail-badges{
        //@include set-background($dark-color);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        width: 45%;
        margin: auto;
        margin-bottom: 2.5rem;
        vertical-align: center;


        h3,h5{
            display: inline-block;
            padding: 0.2rem;
        }

        div{
            height: 100%;
            border-left: 1px solid $dark-color;
        }

    }

    hr{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    #key-learning,
    #dissertation{
        display: block;
        margin: auto;
        width: 90%;
        background-color: $primary-color;
        padding: 1.8rem 0.8rem;
    }

    /* .detail-content{
        line-height: 1.6;
    } */

    .detail-gallery{
        margin: auto;
        margin-bottom: 1.5rem;
        background-color: $dark-color;
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;

        .media-container{
            width: 100%;
            height: 100%;
            position: relative;     

            .media-image{
                pointer-events: none;
                position: absolute;
                width: 100%;
                padding-bottom: 56.25%;
                top: 0;
                left: 0;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0;
                transition: opacity 0.25s ease-out;

                &.active{
                    opacity: 1;
                    pointer-events: inherit;
                }
            }
            
            .media-video{
                pointer-events: none;
                position: absolute;
                width: 100%;
                padding-bottom: 56.25%;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity 0.25s ease-out;

                &.active{
                    opacity: 1;
                    pointer-events: inherit;
                }

                iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 0;
                }
            }

            .hidden{
                display: none;
            }
        }
        
        
    }

    .media-control{
        pointer-events: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn{
            pointer-events: auto;
        }


    }

    .height-filler{
        height: 4.6rem;
    }
}

.toolkit-card{
    width: 100%;
    height: 100%;
    //margin: 8% auto;
    text-align: center;
    background-color: $light-color;
    //border-bottom: 0.4rem solid #B8B8B8;
    overflow: scroll;

    hr{
        width: 60%;
        margin: auto;
    }

    .height-filler{
        height: 4.6rem;
    }
}

.list-content{

    width: 82%;
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: left;
    height: auto;
    overflow: hidden;
    transition: height 0.25s ease-out;

    &.hidden{
        height: 0;
    }

    h4:nth-child(odd){
        margin: 0.5rem 0;
        padding: 0.8rem;
        display: block;
        width: 100%;
        @include set-background($primary-color);
        //color: transparentize($dark-color, 0.2);
    }

    h4:nth-child(even){
        margin: 0.5rem 0;
        padding: 0.8rem;
        display: block;
        width: 100%;
        @include set-background(darken($primary-color, 15%));
        //color: transparentize($dark-color, 0.2);
    }

    &.list-danger h4:nth-child(odd){
        padding-left: 1rem;
        background-color: lighten($danger-color, 55%);
        color: transparentize($dark-color, 0.2);
    }

    &.list-danger h4:nth-child(even){
        padding-left: 1rem;
        background-color: lighten($danger-color, 45%);
        color: transparentize($dark-color, 0.2);
    }

    &.list-warning h4:nth-child(odd){
        padding-left: 1rem;
        background-color: lighten($warning-color, 55%);
        color: transparentize($dark-color, 0.2);
    }

    &.list-warning h4:nth-child(even){
        padding-left: 1rem;
        background-color: lighten($warning-color, 45%);
        color: transparentize($dark-color, 0.2);
    }

    &.list-success h4:nth-child(odd){
        padding-left: 1rem;
        background-color: lighten($success-color, 55%);
        color: transparentize($dark-color, 0.2);
    }

    &.list-success h4:nth-child(even){
        padding-left: 1rem;
        background-color: lighten($success-color, 45%);
        color: transparentize($dark-color, 0.2);
    }

}

//Other components
.cta-panel{
    width: 100%;
    @include set-background($dark-color);
    display: grid;
    align-items: center;

    &.cta{

        &-success{
            @include set-background($success-color);
        }

        &-warning{
            @include set-background($warning-color);
        }

        &-danger{
            @include set-background($danger-color);
        }
    }

    &.portfolio-panel{
        grid-template-columns: 1fr 3fr 1fr 1.5fr;
    }

    &.adventure-panel{
        grid-template-columns: 5fr 2fr;
    }

    &.upgrade-panel{
        grid-template-columns: 4fr 1fr;
    }

    &.experience-panel{
        grid-template-columns: 3fr 2.5fr 2fr;
    }

    &.contact-panel{
        grid-template-columns: 4fr 2fr;
    }

    &.challenges-panel,
    &.tools-panel,
    &.key-learning-panel,
    &.dissertation-panel{
        //padding: 1rem;
        margin: 0.5rem auto;
        width: 90%;
        justify-items: start;
        grid-template-columns: 1fr 6fr;

        i{
            padding-left: 1.2rem;
            display: block;
            width: 100%;
        }

    }

    &.key-learning-panel,
    &.dissertation-panel{
        margin-bottom: 0;
    }

    &.toolkit-panel{
        margin: 0.5rem auto;
        width: 90%;
        grid-template-columns: 1fr 4fr 1.2fr;

        /* i{
            padding-left: 1.2rem;
            display: block;
            width: 100%;
        } */
    }

}

.card{
    @include set-background($light-color);
    border-bottom: 0.4rem solid #B8B8B8;
}

.btn{
    font-family: inherit;
    text-transform: inherit;
    border: none;
    border-bottom: 0.4rem solid #B8B8B8;
    transition: all 0.05s ease-out;
    border-radius: 0.25rem;

    &.btn-l{
        font-size: 1.1rem;
        padding: 0.4rem;
    }

    &.btn-sm{
        font-size: $x-small;
        padding: 0.15rem;
    }

    &.btn-light{
        @include set-background($light-color);
    }

    &.btn-dark{
        @include set-background($dark-color);
        border-bottom: 0.4rem solid #516F8D;
    }

    &:hover{
        background-color: darken($light-color,10%);
    }

    &:hover.btn-dark{
        background-color: lighten($dark-color,10%);
    }

    &:active{
        border-bottom-width: 0;
        transform: translateY(10%);
    }

    &:focus{
        background-color: $light-color;
        outline: none;
    }

    &:focus.btn-dark{
        background-color: $dark-color;
        outline: none;
    }

    &.toggle-btn{

        i{
            transform: rotateZ(-90deg);
            transition: transform 0.15s ease-out;
        }
        
        &.toggled i{
            
                transform: rotateZ(0);

        }
    }

    &#media-left-btn,
    &#media-right-btn{
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

}

.back-btn{

    position: absolute;
    width: 3.5rem;
    height: 3.9rem;
    background-color: $danger-color;
    bottom: 1.5rem;
    right: 1rem;
    border-bottom: 0.4rem solid darken($danger-color, 15%);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 0.5rem hsla(0,0,0,0.3);
    transition: opacity 0.25s ease-out;
    transition: all 0.05s ease-out;

    /* &.toolkit-btn{
        bottom: 1rem;
    } */
    
    i{
        width: 100%;
        text-align: center;
        line-height: 3.5rem;
        top: 20rem;
        color: $light-color;
    }

    .hidden{
        opacity: 0;
        pointer-events: none;
    }

    &:active{
        border-bottom-width: 0;
        transform: translateY(2%);
    }

    
}


