@import "config";
@import "utilities";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'VT323', monospace;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: $dark-color;
}

a{
    color: $light-color;
    text-decoration: none;

    &:hover{
        color: darken($light-color, 50%);
    }

    &:active,
    &:visited{
        color: $light-color;
        text-decoration: inherit;
    }

}

h1{
    font-size: $large;
}

h2{
    font-size: $medium;
}

h3{
    font-size: $small;
}

h5{
    font-size: 0.8rem;
}

object{
    pointer-events: none;
}

#app,
.desktop-msg,
.view,
.sup-view,
.detail-view,
.toolkit-view{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

#app{
    /* overflow: hidden; */
    background-color: black;
}

.view{
    position: absolute;
    width: 300vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: opacity 0.25s ease-out;

    &.animate{
        transition: transform 0.25s ease-out;
    }

    &.disabled{
        pointer-events: none;
        opacity: 0.2;
    }

    &-1{
        transform: translateX(0);
    }

    &-2{
        transform: translateX(calc((-100%/3)));
    }

    &-3{
        transform: translateX(calc((-100%/3)*2));
    }
}

.sup-view{
    position: absolute;
    /* transform: translateY(0); */
    bottom: -100%;
    opacity: 0.5;
    transition: all 0.25s ease-in-out;
    pointer-events: none;

    &.roll-in{
        /* transform: translateY(0); */
        //transform: scale(1);
        transform: translateY(-100%);
        opacity: 1;
        pointer-events: auto;
    }
}

.detail-view{
    position: absolute;
    pointer-events: none;
    transform: scale(0.9);
    opacity: 0;
    background-color: $light-color;
    transition: all 0.25s ease-in-out;

    &.pop-up{
        opacity: 1;
        transform: scale(1);
        pointer-events: auto;
    }
}

.toolkit-view{
    position: absolute;
    pointer-events: none;
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.25s ease-in-out;

    &.pop-up{
        opacity: 1;
        transform: scale(1);
        pointer-events: auto;
    }

}

.desktop-msg{
    display: none;
    text-align: center;
    padding: 5rem;
    padding-top: 25vh;
    background-color: $light-color;
    position: absolute;
    z-index: 20;

    hr{
        margin: auto;
        width: 50%;
    }

    @media only screen and (min-width: 490px){

            display: initial;
    
    }

}

i{
    pointer-events: none;
}